<section id="channels" class="{{ with .Site.Params.channels.bg}}{{ .  }}{{ end }}">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">{{ with .Site.Params.channels.headline }}{{ . }}{{ end }}</h2>
            <hr class="primary">
            <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-24 col-md-1 text-center"></div>
				<div class="col-lg-24 col-md-2 text-center">
					<div class="service-box" style="min-height: 100px;">
						<a href="https://www.facebook.com/swarodaya/"><i class="fa fa-facebook fa-3x"></i></a>
						<h3><a href="https://www.facebook.com/swarodaya/">Updates on Facebook</a></h3>
					</div>
				</div>
				<div class="col-lg-24 col-md-2 text-center">
					<div class="service-box" style="min-height: 100px;">
						<a href="https://t.me/swarodaya"><i class="fa fa-paper-plane fa-3x"></i></a>
						<h3><a href="https://t.me/swarodaya">Updates on Telegram</a></h3>
					</div>
				</div>
				<div class="col-lg-24 col-md-2 text-center">
					<div class="service-box" style="min-height: 100px;">
						<a href="https://blog.swarodaya.com"><i class="fa fa-newspaper-o fa-3x"></i></a>
						<h3><a href="https://blog.swarodaya.com">Blog Posts</a></h3>
					</div>
				</div>
				<div class="col-lg-24 col-md-2 text-center">
					<div class="service-box" style="min-height: 100px;">
						<a href="https://blog.swarodaya.com/category/testimonial/"><i class="fa fa-certificate fa-3x"></i></a>
						<h3><a href="https://blog.swarodaya.com/category/testimonial/">Student Testimonials</a></h3>
					</div>
				</div>
				<div class="col-lg-24 col-md-2 text-center">
					<div class="service-box" style="min-height: 100px;">
						<a href="https://www.youtube.com/channel/UCvaQxVPq4O_y29Mf7HKFUNA"><i class="fa fa-youtube fa-3x"></i></a>
						<h3><a href="https://www.youtube.com/channel/UCvaQxVPq4O_y29Mf7HKFUNA">YouTube Videos</a></h3>
					</div>
				</div>
				<div class="col-lg-24 col-md-1 text-center"></div>
			</div>
		</div>
	</div>
    </div>
</section>
