{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" class="{{ with .Site.Params.contact.bg}}{{ .  }}{{ end }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
        <div class="row">
	    <div class="col-mg-2 col-md-2 text-center"></div>
		<div class="col-mg-6 col-md-2 text-center">
                    <div class="text-center">
                        <i class="fa fa-envelope fa-3x"></i>
                        <p><a href="mailto:info@swarodaya.com?subject=General Inquiry">info@swarodaya.com</a></p>
                    </div>
                </div>
		<div class="col-mg-6 col-md-2 text-center">
                    <div class="text-center">
                        <i class="fa fa-facebook fa-3x"></i>
                        <p><a href="https://www.facebook.com/swarodaya/">Facebook</a></p>
                    </div>
                </div>
		<div class="col-mg-6 col-md-2 text-center">
                    <div class="text-center">
                        <i class="fa fa-youtube fa-3x"></i>
                        <p><a href="https://www.youtube.com/channel/UCvaQxVPq4O_y29Mf7HKFUNA">YouTube</a></p>
                    </div>
                </div>
		<div class="col-mg-6 col-md-2 text-center">
                    <div class="text-center">
                        <i class="fa fa-phone fa-3x"></i>
                        <p><a href="tel:+91-9825-600347">+91-9825-600347</a></p>
                    </div>
                </div>
	    <div class="col-mg-2 col-md-2 text-center"></div>
        </div>
    </div>
</section>

