{{ "<!-- ASIDE -->" | safeHTML }}
<aside id="enrol" class="{{ with .Site.Params.course.bg}}{{ .  }}{{ end }}">
	<div class="container text-center">
		<h2>{{ with .Site.Params.course.headline | markdownify }}{{ . }}{{ end }}</h2>
		<hr class="primary">
		<p>{{ with .Site.Params.course.text | markdownify }}{{ . }}{{ end }}</p>
	</div>
	<div class="container">
		<div class="row">
			<h2 class="section-heading text-center">{{ with .Site.Params.course.listheadline }}{{ . }}{{ end }}</h2>
			<h3 class="section-heading text-center">{{ with .Site.Params.course.listheadline1 }}{{ . }}{{ end }}</h3>
			<h3 class="section-heading text-center">{{ with .Site.Params.course.listheadline2 }}{{ . }}{{ end }}</h3>
			<hr class="primary">
			{{ range .Site.Params.course.list }}
			<div class="col-lg-3 col-md-12 text-center">
				<div class="service-box" style="min-height: 190px;">
					<h2 class="panel-heading text-center">{{ .title | markdownify }}</h2>
					<div class="text-left">
						<p class="text-muted">{{ .description }}</p>
						<p class="text-muted">{{ .text | markdownify }}</p>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
	<div class="container text-center">
		{{ partial "prices.html" . }}
		<h3>To enrol, write to us at <a
		href="mailto:info@swarodaya.com?subject=Residential Course Inquiry">info@swarodaya.com</a> with your name, address, and phone.</h3>
	</div>
</aside>
