{{ "<!-- ASIDE -->" | safeHTML }}
<aside id="enrol">
    <div class="container text-center">
				<h2>{{ with .Site.Params.course.headline | markdownify }}{{ . }}{{ end }}</h2>
				<p>{{ with .Site.Params.course.text | markdownify }}{{ . }}{{ end }}</p>
						{{ partial "prices.html" . }}
						<h3>To enrol, write to us at <a href="mailto:info@swarodaya.com?subject=Enrol Feb 2017">info@swarodaya.com</a> with your name, address, and phone.</h3>
    </div>
		<div class="container">
				<div class="row">
						<hr class="primary">
						<h2 class="section-heading text-center">{{ with .Site.Params.course.listheadline }}{{ . }}{{ end }}</h2>
						{{ range .Site.Params.course.list }}
						<div class="col-lg-3 col-md-12 text-center">
								<div class="service-box" style="min-height: 190px;">
										<i class="fa fa-4x {{ .icon }} text-primary"></i>
										<h3>{{ .title | markdownify }}</h3>
										<div class="text-left">
												<p class="text-muted">{{ .description }}</p>
												<p class="text-muted">{{ .text | markdownify }}</p>
										</div>
								</div>
						</div>
						{{ end }}
				</div>
		</div>
</aside>
