{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="row" style="padding-top: 50px">
	    <img src="logo.png">
	    <h1>{{ with .Site.Params.hero.slogan }}{{ . | markdownify }}{{ end }}</h1>
	    <h2>{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
    </div>
    <div class="container">
        <hr class="primary">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 center"></div>
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6 text-center">
                <p><img src="../img/profile.png" class="img-responsive" alt="Acharya Seema Karecha">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 center"></div>
           <div class="col-lg-7 col-md-7 col-sm-5 text-left">
               <p>{{ with .Site.Params.intro.text }}{{ . | markdownify }}{{ end }}</p>
           </div>
        </div>
    </div>
</header>
