{{ "<!-- OVERVIEW -->" | safeHTML }}
<section id="intro" class="{{ with .Site.Params.intro.bg}}{{ .  }}{{ end }}">
    <div class="container">
        <!-- h2 class="section-heading text-center">{{ with .Site.Params.intro.headline }}{{ . }}{{ end }}</h2>
        <hr class="primary"-->
        <div class="row">
            <div class="col-lg-2 col-md-2 center"></div>
            <div class="col-lg-3 col-md-3 col-sm-4 text-center">
                <p><img src="../img/profile.png" class="img-responsive" alt="Acharya Seema Karecha">
            </div>
           <div class="col-lg-5 col-md-5 col-sm-8 text-left">
               <p>{{ with .Site.Params.intro.text }}{{ . | markdownify }}{{ end }}</p>
           </div>
        </div>
    </div>
</section>

