{{ "<!-- OVERVIEW -->" | safeHTML }}
<section id="onedaycourse" class="{{ with .Site.Params.onedaycourse.bg}}{{ .  }}{{ end }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.onedaycourse.headline }}{{ . }}{{ end }}</h2>
            </div>
            <div class="text-center">
		<h3>{{ with .Site.Params.onedaycourse.text}}{{ . | markdownify }}{{ end }}</h3>
	    </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">{{ with .Site.Params.onedaycourse.row1.title}}{{ . }}{{ end }}</h2>
                <div class="col-lg-12 text-left">
                        <p>{{ with .Site.Params.onedaycourse.row1.text }}{{ . | markdownify }}{{ end }}</p>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">{{ with .Site.Params.onedaycourse.row2.title}}{{ . }}{{ end }}</h2>
                <div class="col-lg-12 text-left">
                        <p>{{ with .Site.Params.onedaycourse.row2.text }}{{ . | markdownify }}{{ end }}</p>
                </div>
            </div>
        </div>
        <hr class="primary">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.onedaycourse.row3.title}}{{ . }}{{ end }}</h2>
                <h3 class="section-heading">{{ with .Site.Params.onedaycourse.row3.subtitle}}{{ . }}{{ end }}</h2>
                <h3 class="section-heading">{{ with .Site.Params.onedaycourse.row3.subtitle1}}{{ . }}{{ end }}</h2>
                <div class="col-lg-2 text-center"></div>
                <div class="col-lg-8 text-left">
                        <p>{{ with .Site.Params.onedaycourse.row3.text }}{{ . | markdownify }}{{ end }}</p>
                </div>
                <div class="col-lg-2 text-center"/></div>
            </div>
        </div>
    </div>
    </div>
</section>
