<div class="container">
    <div class="row">
        <h2>Course Fees</h2>
 <!-- <hr class="primary"> -->

  <!--
        <div class="col-lg-4 col-sm-4">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>New<br/>Enrolement</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">99,900 INR</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">New Participant</li>
              <li class="list-group-item">No Prior Experience required</li>
              <li class="list-group-item">Hotel stay included</li>
              <li class="list-group-item">Meals included</li>
              <li class="list-group-item">Twin sharing<br/></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>Swarodaya<br/>Alumnus</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">Contact us for pricing</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Repeat Participant</li>
              <li class="list-group-item">Swarodya Experience</li>
              <li class="list-group-item">Hotel stay included</li>
              <li class="list-group-item">Meals included</li>
              <li class="list-group-item">Twin sharing<br/></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>Participant's<br/>Guest</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">Contact us for pricing</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Family member</li>
              <li class="list-group-item">Not attending course</li>
              <li class="list-group-item">Hotel stay included</li>
              <li class="list-group-item">Meals included</li>
              <li class="list-group-item">Sharing with participant<br/></li>
            </ul>
          </div>
        </div>
      -->


      </div>
</div>



