<section id="recentposts" class="{{ with .Site.Params.recentposts.bg}}{{ .  }}{{ end }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.recentposts.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-24 col-md-4 text-center">
					<div class="service-box" style="min-height: 190px;">
						<h3>Blog</h3>
						<div class="text-left">
							<p>Visit the blog for insightful articles. The blog contains long form articles that delve deep into a subject.</p>
							<p><a href="https://blog.swarodaya.com">Visit the blog: blog.swarodaya.com</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-24 col-md-4 text-center">
					<div class="service-box" style="min-height: 190px;">
						<h3>Insights and Updates</h3>
						<div class="text-left">
							<p>Subscribe to our Telegram channel for regular insights and updates. The channel contains frequent updates that include daily insights, announcements of upcoming courses etc. These are also posted on our Facebook channel, but we do understand that not everybody wants to open Facebook frequently and that is why we created this Telegram channel for the people on the go.</p>
							<p><a href="https://t.me/swarodaya">Click to join channel: t.me/swarodaya</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-24 col-md-4 text-center">
					<div class="service-box" style="min-height: 190px;">
						<h3>Testimonials</h3>
						<div class="text-left">
							<p>New to Swarodaya? Read what others are saying about their experience with Swarodaya courses.</p>
							<p><a href="https://blog.swarodaya.com/category/testimonial/">Click for testimonials</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>
</section>
