<section id="recentposts" class="{{ with .Site.Params.recentposts.bg}}{{ .  }}{{ end }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.recentposts.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
		<div class="container">
			{{ range first 6 .Site.RegularPages }}
					<article class="blog">
						<h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
						<h4>{{ .Date.Format "Mon, Jan 2, 2006"}}</h4>
						{{ .Summary }}
						<a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
					</article>
			{{ end }}
			<article class="blog">
				<h2><a href="/blog/">Read All Posts ...</a></h2>
			</article>
		</div>
</section>
