{{ "<!-- OVERVIEW -->" | safeHTML }}
<section id="services" class="{{ with .Site.Params.services.bg}}{{ .  }}{{ end }}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{ with .Site.Params.services.headline }}{{ . }}{{ end }}</h2>
				<hr class="primary">
				<div class="col-lg-2 text-center"></div>
				<div class="col-lg-8 text-left">
					<p>{{ with .Site.Params.services.text | markdownify }}{{ . }}{{ end }}</p>
				</div>
				<div class="col-lg-2 text-center"></div>
			</div>
		</div>
	</div>
	<hr class="primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{ with .Site.Params.services.section1.headline }}{{ . }}{{ end }}</h2>
				<div class="col-lg-2 text-center"></div>
				<div class="col-lg-8 text-left">
					<p>{{ with .Site.Params.services.section1.text | markdownify }}{{ . }}{{ end }}</p>
				</div>
				<div class="col-lg-2 text-center"></div>
			</div>
		</div>
	</div>
	<hr class="primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{ with .Site.Params.services.section2.headline }}{{ . }}{{ end }}</h2>
				<div class="col-lg-2 text-center"></div>
				<div class="col-lg-8 text-left">
					<p>{{ with .Site.Params.services.section2.text | markdownify }}{{ . }}{{ end }}</p>
				</div>
				<div class="col-lg-2 text-center"></div>
			</div>
		</div>
	</div>
</section>
