<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav-affix.html" . }}

        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">{{ .Title }}</h2>
                        <hr class="primary">
                        <p>{{ .Description | markdownify }}</p>
                    </div>

                    <div class="container">
                        {{ range .Data.Pages.GroupByDate "2006" }}
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2>{{ .Key }}</h2>
                            </div>
                        </div>

                        {{ range .Pages }}
														<article class="blog">
															<h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
															<h4>{{ .Date.Format "Mon, Jan 2, 2006"}}</h4>
															{{ .Summary }}
															<a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
														</article>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
    </body>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</html>
